
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#f3f8f1;
    color:#1d3b22;

}



header{

    width:100%;
    padding:20px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    position:fixed;
    top:0;

    z-index:1000;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



.logo{

    font-size:28px;
    font-weight:bold;

    color:#267a36;

}



nav a{

    text-decoration:none;
    margin-left:25px;

    color:#24552c;

    font-weight:bold;

}



nav a:hover{

    color:#4caf50;

}





.inicio{

    min-height:100vh;

    padding:130px 8% 50px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:40px;


}



.texto{

    max-width:550px;

}



.texto h1{

    font-size:48px;

    color:#185b29;

}



.texto p{

    margin:25px 0;

    font-size:20px;

    line-height:1.5;

}



button{

    background:#39a845;

    color:white;

    border:none;

    padding:14px 25px;

    border-radius:30px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}



button:hover{

    background:#176b24;

    transform:scale(1.05);

}




.inicio img{

    width:500px;

    height:350px;

    object-fit:cover;

    border-radius:30px;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}




.produtos{

    padding:80px 8%;

    text-align:center;

}




.produtos h2,
.futuro h2{

    font-size:38px;

    margin-bottom:40px;

    color:#176b24;

}





.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}



.card{

    background:white;

    padding:20px;

    border-radius:25px;

    box-shadow:0 8px 20px rgba(0,0,0,0.12);

    transition:.3s;

}



.card:hover{

    transform:translateY(-10px);

}



.card img{

    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:20px;

}



.card h3{

    margin:15px;

}



.card p{

    line-height:1.5;

    margin-bottom:20px;

}




.futuro{

    padding:80px 8%;

    text-align:center;

    background:#e2f2dc;

}




.botoes{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin:30px;

}



#pontos{

    color:#39a845;

    font-size:40px;

}



footer{

    padding:40px;

    text-align:center;

    background:#185b29;

    color:white;

}




@media(max-width:900px){


.inicio{

    flex-direction:column;

}



.texto h1{

    font-size:35px;

}


.inicio img{

    width:100%;

}


nav{

    display:none;

}


}
